@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #a137da;
  background-image: linear-gradient(90deg, #a137da, #8758ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  backface-visibility: visible;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: white;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  border-style: solid;
  background: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 300px;
  color: rgb(181, 174, 174);
  border-radius: 10px;
}

.todo-input::placeholder {
  background-color: #ffffff4d;
  color: grey;
  padding-right: 10px;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.60rem;
  cursor: pointer;
  width: 70px;
  white-space: 10px;
  margin-left: 30px;
}

.todo-btn-icon {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.50rem;
  cursor: pointer;
  width: 20px;
  white-space: 20px;
  margin-left: 15px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  font-weight: bold;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid gray;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.fa-trash-can {
  margin-left: 0.75rem;
}

.completed {
  color: black;
  text-decoration: line-through;
}